<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quy định đội 1</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="static/assets/css/rules.css">
</head>

<body>

    <!-- TOP BAR -->
    <div class="topbar">

        <a href="{{ url_for('home') }}" class="home-btn">
            Trang chủ
        </a>

        <div class="logo-area">
            <img src="static/images/vaeco-logo.png" alt="Company Logo">
        </div>

    </div>

    <div class="container">

        <!-- HEADER -->
        <div class="header">

            <h1>Quy định đội 1</h1>

            <p>
                Thông tin về nội quy nhân viên đội 1 cần tuân thủ
            </p>

        </div>

        <!-- RULE LIST -->
        <div class="rules-wrapper">

            <!-- RULE 1 -->
            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        🛠 Quy định mượn/trả tool kho TS5
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>1. Nhân viên được phân mượn tool TS5 có mặt ở kho trước 7h45, mượn tool theo list đã lên plan. Tool nào không lấy về thì ký mượn và ký trả luôn<br>
                        2. Sau khi ký ds mượn tool, chụp lại ds tool sau khi đã ký gởi lên group đội để làm bằng chứng, mang giấy ds tool đã mượn về yêu cầu zone leader ký xác nhận<br>
                        3. Tool mượn về phải được để trên 1 giá kệ riêng, leader zone chịu trách nhiệm cho việc quản lý, sử dụng tool của zone mình<br>
                        4. Tool của zone nào thì dùng xong leader zone đó phân người trả luôn trong ngày sau khi dùng xong<br>
                        5. Tránh tình trạng để đến ngày cuối định kỳ dồn lại rồi đùn đẩy nhau, khó khăn trong việc truy tìm giấy tờ để ký trả.</p>
                    </div>

                </div>

            </div>

            <!-- RULE 2 -->
            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        🔨 Quy định mượn/trả tool kho nội trường
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>1. Nhân viên được phân công mượn tool local phải có mặt ở kho tool trước 7h45, mượn tool theo plan và có thể mượn thêm tool cần thiết khác để thực hiện công việc trong ngày <br>
                        2. Đối với tàu dài ngày, NVKT có thể mượn thùng tool và súng dài ngày cho hết cả thời gian làm định kỳ, lưu ý báo NV kho tool đặt ngày dự kiến trả trên hệ thống MMS <br>
                        3. Với tool dài ngày thì hàng ngày NVKT phải chụp hình báo cáo trên group đội cuối vào cuối ca, khóa thùng và cất chìa khóa trong phòng đội. Nếu đến ngày nghỉ thì bàn giao lại cho nhân viên khác cùng zone hôm sau đi làm, nhắn thông tin lên group đội.</p>
                    </div>

                </div>

            </div>

            <!-- RULE 3 -->
            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        🧹 Nhiệm vụ của Trực VS
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>1.Kiểm tra tình trạng vệ sinh đầu ca của các khu vực làm việc, bao gồm giá kệ. (Nếu bẩn/bụi phải dọn dẹp nhanh bằng chổi hoặc máy thổi) <br>
                        2.Đặt sọt rác tại các khu vực cần vệ sinh đầu ca và thu gom vào cuối ca làm việc <br>
                        3.Kiểm tra tình trạng vệ sinh chung, LOCK các chân Thang/DOCK, các khu vực làm việc 2 lần vào cuối ca sáng và ca chiều <br>
                        4.Kiểm tra/dọn dẹp/Vệ Sinh phòng ĐỘI.</p>
                    </div>
                    </div>

                </div>

            <!-- RULE 4 -->
            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        ⚠ Quy định về không hoàn thành nhiệm vụ SAG và 5S
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>Nhằm nâng cao ý thức và trách nhiệm về an toàn và 5S. BCH đội đưa ra các hình phạt đóng vào quỹ đội 1 như sau: <br>
                        1. NVKT được phân công thu dọn giá kệ gọn gàng, khóa chân thang dock mà không hoàn thành nhiệm vụ leader bị phạt 50K/ lần <br>
                        2. Leader cuối ca không kiểm tra  khu vực làm việc để xảy ra lỗi thì bị phạt 100K/lần <br>
                        3. Nhân viên trực SAG cuối ca không kiểm tra để xảy ra lỗi thì bị phạt 100K/lần <br>
                        4. Nhân viên trực vệ sinh không hoàn thành công việc được giao (vệ sinh PSH và kiểm soát sọt rác) thì bị phạt 100K/lần</p>
                    </div>

                </div>

            </div>


            <!-- RULE 5 -->

            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        🧰 Quy định về kiểm soát tool khi thay động cơ B787
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>1. Thùng tool thay động cơ chỉ dùng cho công việc thay động cơ, các NV làm ở khu vực khác TUYỆT ĐỐI KHÔNG lấy tool để đi làm các công việc khác <br>
                        2. Sử dụng các khay nhựa nhỏ (ít nhất mỗi khu vực dùng 1 khay- FWD, MID, AFT, AVI). Tool ngay khi không sử dụng phải để lại vào khay hoặc thùng tool. TUYỆT ĐỐI KHÔNG để gá tạm trên động cơ, thang dock, giá kệ vật tư, sàn hangar ... NẾU VI PHẠM SẼ BỊ PHẠT 50K/LẦN, đưa vào quỹ đội <br>
                        3. Khay để tool không được phép để dẻ lau cùng với tool, nguy cơ tool bị lẫn vào dẻ khi vứt rác. Trước khi vứt rác phải giũ từng dẻ, túi nylon để kiểm tra có bị lẫn tool vào hay không <br>
                        4. Cuối mỗi ca làm việc buổi sáng, buổi chiều, buổi tối mỗi nhóm công việc nhỏ (FWD-MID-AFT-AVI) phải cử người gom tool lại thùng thay động cơ, kiểm tra, sắp xếp và chụp hình báo cáo gởi lên group viber của đội <br>
                        5. Với thùng toolbox bình thường cuối mỗi ca làm việc buổi sáng, buổi chiều, buổi tối cũng phải thực hiện kiểm tra, sắp xếp và chụp hình báo cáo gởi lên group viber của đội.</p>
                    </div>

                </div>

        </div>
            <!-- RULE 6 -->

            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        📑 Quy định về phân công GSGT và ký tham gia định kỳ, ký form PI
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>1. Leader Z128 sẽ chịu trách nhiệm GSGT cho QM-CAB và leader AVI sẽ chịu trách nhiệm GSGT cho QM-IFE <br>
                        2. Scct làm khu vực nào thì leader zone đó sẽ GSGT <br>
                        3. Các QM báo cho các CRS B leader các công việc dự kiến thực hiện và sau khi hoàn thành công việc thì hoàn thiện HSBD, báo lại cho CRS B leader GSGT của mình để đóng dấu vào góc trên bên phải của task <br>
                        4. Những nhân viên nào được phân công PI thì sẽ ký vào form PI, ký vào trang đầu tiên của form tham gia định kỳ và là người được assign để support CRS C.</p>
                    </div>

                </div>

            </div>

            <!-- RULE 7 -->

            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        🕸 Quy định về gắn lưới safety ở PAX door
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>Nhằm đảm bảo an toàn khi làm việc trên cao, đề nghị tất cả các cửa hành khách máy bay khi mở mà không có thang phải được gắn lưới an toàn. Triển khai cụ thể như sau: <br>
                        1. Với tàu vào slot Hg 1 và Hg4-L2/L8 thì đầu định kỳ zone 128 lấy về 4 lưới gắn ở 4 cửa: 1L/1R, 2L, 2R, 4L/4R <br>
                        2. Giờ nghỉ trưa hoặc cuối ngày (với định kỳ >1 ngày), FM chịu trách nhiệm thu/gắn lưới và đóng/mở cửa 4L/4R nếu cần <br>
                        3. Với tàu vào Hg4-L5 thì đầu định kỳ zone 128 lấy về 7 lưới gắn ở 7 cửa không có thang lên xuống.</p>
                    </div>

                </div>

            </div>

             <!-- RULE 8 -->

            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        📦 Quy trình mới bổ sung khi bàn giao vật tư UNSERVICE về KHO VẬT TƯ PHÍA NAM
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>Liên quan đến việc hoàn trả vật tư U/S về KHO VẬT TƯ phía NAM, BGĐ triển khai bổ sung 1 quy trình mới như sau: <br> <br>

                        1/ Về việc trả vật tư U/S lẻ về kho, đề nghị trong ca hành chính NVKT liên hệ nhân viên kho để trực tiếp nhận bàn giao vật tư và kiểm tra, chụp hình/quay phim và ký nhận vào sổ <br>
                        - Với các vật tư U/S có lý do chưa trả kịp trong ngày thì báo SGNBASE trên group viber ĐỐI ỨNG như quy trình đã triển khai trước đây <br>
                        - (ĐỐI VỚI NVKT): Với hình ảnh/video, đề nghị NVKT cũng báo và gửi cho SGNBASE cũng trên group viber ĐỐI ỨNG, định dạng tên file hình ảnh/video gửi lên theo cú pháp như sau: TÀU - TÊN THIẾT BỊ US - NGÀY GỬI <br> <br>
                        - (ĐỐI VỚI SGNBASE): Thực hiện tải file ảnh/video và lưu trên server: \\10.99.1.3 > NỘI TRƯỜNG > PHÒNG KT-KH > FOLDER THIẾT BỊ UNSERVICE. <br><br>

                        2/ Đối với động cơ U/S, trước khi NVKT tiến hành bọc bịt toàn bộ động cơ, yêu cầu NVKT liên hệ với nhân viên kho có mặt tại Hangar để kiểm tra tình trạng vật lý, chụp hình/quay film (nếu cần thiết) trước khi tiến hành trùm cover toàn bộ động cơ (recommend chụp hình ảnh đầy đủ các góc cạnh, các vị trí nhạy cảm để lưu giữ), sau đó cũng tương tự như mục 1/, tiến hành gửi file cho SGNBASE lên group viber ĐỐI ỨNG để tiến hành lưu giữ trên server.</p>
                    </div>

                </div>

            </div>

             <!-- RULE 9 -->

            <div class="rule-card">

                <div class="rule-header">

                    <div class="rule-title">
                        📸 Quy định về kiểm tra và chụp hình các access door sau khi kết thúc định kỳ và gởi lên group viber của đội
                    </div>

                    <div class="arrow">
                        ▼
                    </div>

                </div>

                <div class="rule-content">

                    <div class="rule-content-inner">
                        <p>Để đảm bảo cấu hình tàu đảm bảo an toàn, sẵn sàng khai thác. Có lưu lại bằng chứng khi xảy ra sự cố khi tàu khai thác, đề nghị nhân viên đội 1 thực hiện các công việc sau trước khi kết thúc định kỳ và bàn giao tàu cho ngoại trường: <br><br>
                        1. Leader các Zone 128/34/567/Avi trực tiếp hoặc chỉ định 1 CRS B khác kiểm tra, chụp hình gởi lên group viber của đội các access door mà có mở/đóng trong quá trình làm định kỳ. Cụ thể : <br>
                        - Z128: Pack bay door, water service door, waste service door <br>
                        - Z34: APU door, FWD/AFT HSTA access door <br>
                        - Z567: MLG door, NLG door, P56, P57 <br>
                        - ZAVI: FWD EE bay door, AFT EE bay door <br><br>
                        2. Tuân thủ nghiêm hướng dẫn của Boeing về việc đóng cửa AFT EE bay:<br>
                        A. Open the Wing-To-Body Fairing (WTBF) Aft EE Bay Access door <br>
                        B. Open and then close the Aft EE Bay Access door <br>
                        C. Check that the Aft EE Bay Access door external handle is in the fully closed position <br>
                        D. Push on the door to verify it is latched <br>
                        E. Close the WTBF Aft EE Bay Access door <br>
                        F. Check that the WTBF door flags are closed <br>
                        G. Check that the outside skin of the WTBF Aft EE Bay Access door is aligned and faired with the fuselage skin <br>
                        H. Check that the WTBF Aft EE Bay Access door latch handle is fully closed and faired with the door skin <br>
                        I. Push on the WTBF Aft EE Bay Access door to verify it is latched.</p>

                    </div>

                </div>

            </div>

            <div class="footer">
            Copyright © 2026 - VAECO. All rights reserved.
        </div>

    <script>

        const cards = document.querySelectorAll(".rule-card");

        cards.forEach(card => {

            const header = card.querySelector(".rule-header");

            header.addEventListener("click", () => {

                card.classList.toggle("active");

            });

        });

    </script>

</body>

</html>